

 :root{
    
  /* 기분들 컬러  */
  --red-color: #FA5164;
  --yellow-color: #FFD35D;
  --green-color: #3BCD7C;
  --yellow-color: #7FAACC;
  --pink-color: #FEABA3;
  --dark-blue-color: #44679D;


  /* 회색(1,2) */
  --gray1-color: #555C60;
  --gray2-color: #CACACA;

  /* 화면크기별 폰트사이즈 */
  --sml-font-title-b: 16px;
  --sml-font-body-14: 14px;
  --sml-font-body-12: 12px;
  --sml-font-body-10: 10px;

  --lg-font-title-b: 24px;
  --lg-font-body-24: 24px;
  --lg-font-body-22: 22px;
  --lg-font-body-18: 18px;
  --lg-font-body-14: 14px;

  /* 폰트 굵기 */
  --font-light:'GmarketSansLight';
  --font-bold:'GmarketSansBold';


}
*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #F8FAF7;

}
  @font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  @font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  @font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

   .back{
     /* margin-top: 60px; */
     margin-top: 30px;
     margin-left: 16px;
     display: flex;
   }
   
   .title h1{
    font-family: 'GmarketSansLight';
    /* font-size: 16px; */
    font-size: 14px;
    margin-bottom: 0;
   }

   .title h2{
     font-family: 'GmarketSansLight';
     /* font-size: 12px; */
     font-size: 10px;
    
   }

   .title{
     display: flex;
     margin-bottom: 0;
     
     
   }

   .title .text{
     /* margin-top: 50px; */
     margin-top: 25px;
     margin-left: 18px;
     margin-bottom: 0;
     
   }

   .list{
     position: absolute;
    right: 22px;
    /* top: 48px; */
    top: 23px;
    z-index: 4;
   }
   

   .list > img{
    width: 50px;
    height: 51px;
  }
  
  /* 팁 */
  #feeling-tips{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    bottom: 0px;
    width: 100%;
    background-color: rgba(68, 103, 157, 0.9);
    text-align: center;
  }
  #feeling-tips .close-btn{
    width: 70px;
    position: absolute;
    right: 22px;
    top: 23px;
  }
  #feeling-tips-wrapper{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
  }
  #feeling-tips-wrapper .tip-title{
    font-size: 30px;
    /* margin-top: 10vh; */
    margin-bottom: 1vh;
    font-family: 'GmarketSansMedium';
  }
  #feeling-tips-wrapper .tip-subtitle{
    font-size: 20px;
    margin-bottom: 2vh;
    font-family: 'GmarketSansLight';
  }
  #feeling-tips-wrapper .tip-again{
    font-size: 16px;
    color: #ffffff;
    font-family: 'GmarketSansLight';
  }
  #feeling-tips-wrapper img{
    width: 12vw;
  }
  .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 70vw;
  }
  .example-tip-card{
    background-color: #ffffff;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    padding: 24px;
    margin: 8px;
  }
  .example-tip-card h1{
    font-size: 28px;
    font-family: 'GmarketSansMedium';
  }
  .example-tip-card p{
    font-size: 18px;
    font-family: 'GmarketSansLight';
  }
  .non-tip{
    background-color: #ffffffa1;
  }


  /* 스크롤바 css */
  .scroll::-webkit-scrollbar {
    display: none;
   }

  .songtext .scroll{
   margin-bottom: 20px;
   height: 35px;
   overflow: auto;
   scroll-behavior: smooth;
   
 }
  

   .songtext h3{
    font-family: 'GmarketSansMedium';
    font-size: 14px;
    padding-bottom: 0;
    margin-bottom: 12px;
    

   }
   .songtext h4{
    font-family: 'GmarketSansLight';
    font-size: 13px;
    padding-top: 0;
    margin-top: 0;
   }

  .songtext{
    position: relative;
    /* top: 12vh; */
    justify-content: center;
    text-align: center;
    /* margin-top: 15vh; */

  }

 
   

  /* 복붙 */
  .player-icons{
    width: 240px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    /* bottom: 30px; */
    /* margin-top: 40px; */
    /* margin-top: 20px; */
    position: relative;
      top: 15vh;
    
   }

.player-icons > button{
  /* font-size: 30px; */
  font-size: 24px;
  border: none;
  background-color: rgba(0,0,0,0);
  color: #555C60;
}



.player-title{
  font-family: 'GmarketSansMedium';
  /* font-size: 18px; */
  font-size: 16px;
  line-height: 16px;
  
  }
  .player-artist{
    /* font-size: 14px; */
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
    font-family: 'GmarketSansLight';
  }
  


.nowplay{

text-align: center;
margin-top: 30px;
color: rgb(43, 43, 43);

}

.icon-wrapper{
  position: relative;
  height: 38px;
  width: 100vw;
  margin-top: 70px;
}

/* 기분이들 */
.iconcon > img{
  height: 45px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  margin-left: -4px;
  
}

.iconcon-stop > img{
  height: 45px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  margin-left: -4px;
}

#small{
  opacity: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50vw;
  transform: translate(-50%,0);
  margin-top: 50px;
}


@keyframes floating  {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}
@keyframes floating2  {
  0% { transform: translate(0,  -2px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

.icon1{
  animation-name: floating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  
}

.icon2{
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.icon3{
  animation-name: floating;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.icon4{
  animation-name: floating2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.icon5{
  animation-name: floating2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.big1{
  position: absolute;
  top: 20vh;
  left: 15vw;
}
.big1-1{
  position: absolute;
  top: 20vh;
  left: 15vw;
}
.big2{
  position: absolute;
  top: 40vh;
  left: 5vw;
  
}
.big3{
  position: absolute;
  top: 60vh;
  left: 25vw;
}
.iconcon-big > img{
  width: 12vw;
  height: 12vw;
}
.big4{
  position: absolute;
  top: 30vh;
  right: 5vw;
}
.big5{
  position: absolute;
  top: 50vh;
  right: 20vw;
  
}
.big2-1{
  position: absolute;
  top: 40vh;
  left: 5vw;
  
}
.big3-1{
  position: absolute;
  top: 60vh;
  left: 25vw;
}
.iconcon-big-stop > img{
  width: 12vw;
  height: 12vw;
}
.big4-1{
  position: absolute;
  top: 30vh;
  right: 5vw;
}
.big5-1{
  position: absolute;
  top: 50vh;
  right: 20vw;
  
}
.big1{
  animation: sadAct2 8s infinite ease-in-out;
  
}

.big2{
  animation: sadAct1 6s infinite ease-in-out;
}

.big3{
  animation: sadAct1 9s infinite ease-in-out;
}

.big4{
  animation: sadAct2 4s infinite ease-in-out;
}
.big5{
  animation: sadAct1 7s infinite ease-in-out;
}



@keyframes sadAct1{
  0%{
      transform: translate(0,0);
  }
  25%{
      transform: translate(300%,3%);
      transform: scale(0.9);
  }
  50%{
      transform: translate(10%,10%);
      transform: scale(0.98);
  }
  75%{
      transform: translate(30%,-100%);
      transform: scale(0.85);
  }
  100%{
      transform: translate(0, 0);
  }
}
@keyframes sadAct2{
  0%{
      transform: scale(1);
  }
  50%{
    transform: scale(0.85)
  }
  100%{
    transform: scale(1);
  }
}
 


 /* 앨범커버 */
 .player-img{
  display: block;
  border-radius: 50%;
  background-size: cover;
  width: 340px;
  height: 340px;
  position: relative;
  left: 50vw;
  top: 45px;
  transform: scale(0.9) translate(-55%,0);
}


/* p5.js */
/* 복붙 */
.p5Canvas{
  position: absolute;
  left: 50vw;
  top: 164px;
  transform: translate(-50%,0);

}


  /* 스크롤바 css */
  .song-list::-webkit-scrollbar {
    width: 6px;
}

.song-list::-webkit-scrollbar-thumb {
    background-color: #A3B8D9;
    border-radius: 5px;
}
.song-list::-webkit-scrollbar-track {
    background-color: none;
}

/* 노래리스트 */
.list-box-song{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  bottom: 20px;
  width: 100%;
}

.song-list{
  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  position: absolute;
  top: 100px;
  
}
/* .song-list-wrap{
  padding: 10px 50px 90px 50px;
} */

.song-list-wrap{
  padding: 10px 16px 80px 16px;
}



/* 노래한곡 */
.song-item{
  display: flex;
  align-items: center;
  padding: 10px;    
}
.album-cover{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.09);
  flex-grow: 0;
  background-size: cover; 
}
.album-infoA{
  display: inline-block;
  flex-grow: 1;
  margin-left: 12px;
}
.song-title{
 margin: 0 0 8px 0;
 font-size: var(--sml-font-body-14);
 font-family: 'GmarketSansMedium';
}
.song-artist{
  margin: 0;
  font-size: 12px;
  font-family: 'GmarketSansLight';
}
.song-artist marquee{/* 작은화면에서만 움직이고 싶음 */
  width: 190px;
  direction: left;
}
.album-infoB{
  display: flex;
  align-items: center;
  flex-grow: 0;
}
.album-infoB .running-time{
  display: inline-block;
  font-size: 12px;
  font-family: 'GmarketSansLight';
  margin: 0 25px 0 0;
}
.album-infoB i{
  font-size: var(--sml-font-body-14);
  margin-bottom: -4px;
}





/* 반응형 설정 */
@media (max-width: 799px) {
  /* 가로폭 800px 미만 : 스마트폰(APP) */

  .list-box{
    opacity: 100%;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
   z-index:3;
    background-color: #44679D;
    color: #fff;
  }
  #big{
    opacity: 0;
  }
   /* 복붙 */
   #small{
    opacity: 100;
    
  }
    /* 복붙 */
  .songtext{
    position: relative;;
    bottom: -15vh;
    justify-content: center;
    text-align: center;
  }
    /* 팁 */
#feeling-tips .close-btn{
  width: 50px;
}
#feeling-tips-wrapper{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-45%);
}
#feeling-tips-wrapper .tip-title{
  font-size: 18px;
  margin-bottom: 1vh;

}
#feeling-tips-wrapper .tip-subtitle{
  font-size: 14px;
  margin-bottom: 1.5vh;
}
#feeling-tips-wrapper .tip-again{
  font-size: 12px;
}
#feeling-tips-wrapper img{
  width: 25vw;
  margin-bottom: 0;
}
.card-wrapper{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 90vw;
  margin: 0;
}
.example-tip-card{
  text-align: center;
  padding: 14px;

}
.example-tip-card h1{
  font-size: 16px;
}
.example-tip-card p{
  font-size: 13px;
}
.non-tip{
  display: none;
}

 /* 앨범커버 */
 .player-img{
  /* display: block;
  border-radius: 50%;
  background-size: cover; */
  width: 310px;
  height: 310px;
  /* position: relative; */
  left: 50vw;
  top: 30px;
  transform: scale(0.9) translate(-55%,0);
}


/* p5.js */
/* 복붙 */
.p5Canvas{
  position: absolute;
  left: 50vw;
  top: 118px;
  transform: scale(0.9) translate(-55%,0);

}
}




@media (min-width: 800px) {
  /* 가로폭 800px 이상 : 웹사이트(PC) */

  .title h1{
    display: inline-block;
    font-size: 22px;
    font-family: 'GmarketSansLight';
    margin-top: 0;
}

.list > img{
  width: 70px;
  height: 72px;
}

  .list-box{
    opacity: 100%;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
   z-index: 3;
    background-color: #44679D;
    color: #F8FAF7;
  }
  .player-title{
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    
    }
    .player-artist{
      font-size: 14px;
      margin-top: 18px;
    }


       /* 복붙 */
     .songtext{
      position: relative;;
      bottom: -2vh;
      justify-content: center;
      text-align: center;
      margin-top: 60px;
    }
    .songtext .scroll{
      margin-bottom: 20px;
      height: 40px;
      overflow: auto;
      scroll-behavior: smooth;
      
    }
     .songtext h4{
      font-family: 'GmarketSansLight';
      font-size: 14px;
      padding-top: 0;
      margin-top: 0;
     }

    
     .iconcon{
      display: block;
      position: absolute;
      /* position: relative; */
      /* margin-left: auto;
      margin-right: auto; */
      width: 250px;
      height: 38px;
      bottom: 30vh;
      left: calc(50vw - 125px);
      /* margin-top: 70px; */
    
    }

    .iconcon-stop{
      display: block;
      position: absolute;
      /* position: relative; */
      /* margin-left: auto;
      margin-right: auto; */
      width: 250px;
      height: 38px;
      bottom: 30vh;
      left: calc(50vw - 125px);
      /* margin-top: 70px; */
    
    }

    /* 복붙 */
    .player-icons{
      /* width: 240px;
      display: flex;
      justify-content: space-around;
      margin-left: auto;
      margin-right: auto; */
      position: relative;
      top: 5vh;
      
    }
    
    /* 복붙 */
    .player-icons > button{
      /* font-size: 30px; */
      font-size: 28px;
      border: none;
      background-color: rgba(0,0,0,0);
      color: #555C60;
    }
    
    .song-list{
      /* width: 100%; */
      height: calc(100vh - 324px);
      /* overflow-y: scroll;
      position: absolute;
      top: 100px; */
      
    }
    
     /* 노래 한곡 */

     .song-item{
      display: flex;
      align-items: center;
      padding: 16px 10px;    
      /* background-color:thistle; */
    }
    .album-cover{
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.09);
      flex-grow: 0; 
      background-size: cover;
      background-position: center;
    }
    .album-infoA{
      display: inline-block;
      flex-grow: 1;
      margin-left: 20px;
      
    }
    .song-title{
    margin-top: 0;
    padding-top: 0;
    font-size: var(--lg-font-body-18);
    font-family: 'GmarketSansMedium';;
    }
    .song-artist{
      margin: 0;
      font-size: var(--lg-font-body-14);
      font-family: 'GmarketSansLight';
    }

    .album-infoB{
      display: flex;
      /* align-items: center; */  /* 안한게 더 중앙같음 */
      flex-grow: 0;
    }
    .album-infoB .running-time{
      display: inline-block;
      font-size: var(--lg-font-body-14);
      font-family: var(--font-light);
      margin: 0 35px 0 0;
    }
    .album-infoB i{
      font-size: var(--lg-font-body-18);
      margin-bottom: -4px;
    }
 
}
